<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <h1>Pokémon Data</h1>
    {% for pokemon in pokemonData %}
        <div>
            <h2>Pokémon ID: {{ loop.index }}</h2>
            <p>Name: {{ pokemon.getName() }}</p>
            <p>Types:</p>
            <ul>
                {% for type in pokemon.getTypes() %}
                    <li>{{ type }}</li>
                {% endfor %}
            </ul>
            <img src="{{ pokemon.getSprite() }}" alt="Pokemon Sprite">
            <hr>
        </div>
    {% endfor %}
</body>
</html>
