{% extends 'base.html.twig' %}
{% block title %}
	Pokemon List
{% endblock %}

{%block content%}
	{% block stylesheets %}
		<link href="{{ asset('build/app.css') }}" type="text/css" rel="stylesheet"/>
	{% endblock %}
	<body>
		<form id="pokemonForm" action="/" method="get">
			<select name="id" onchange="updateAction(this)">
				<option selected disabled>Choose a Pokémon</option>
				{% for pokemon in pokemonData %}
					<option value="{{ pokemon.id }}">{{ pokemon.name|capitalize }}</option>
				{% endfor %}
			</select>
			<button type="submit">Details</button>
		</form>

		<script>
			function updateAction(select) {
let selectedId = select.value;
document.getElementById('pokemonForm').action = '/pokemon/' + selectedId;
}
		</script>


		<div id="pokemonList">
			{% for pokemon in pokemonData %}
				<a href="pokemon/{{ pokemon.id }}">
					<div class="pokemonDiv {% if pokemon.type %}{{ pokemon.type.0 }}{% endif %}">
						<h2>
							{{ pokemon.id }}
						</h2>
						<h2>
							{{ pokemon.name|capitalize }}
						</h2>
						<div>Type:
							<ul>
								{% for type in pokemon.type %}
									<li class="type {{ type }}">{{ type|capitalize }}</li>
								{% endfor %}
							</ul>
						</div>
						<img src="{{ pokemon.sprite }}" data-src="{{asset("images/substitute.png")}}" alt="Pokemon Sprite" loading="lazy">
					</div>
				</a>
			{% endfor %}
		</div>

	</body>
</html>{% endblock %}
