{% extends 'base.html.twig' %}
{% block title %}
	{{pokemon.name|capitalize}}
{% endblock %}
{%block content%}
	<body>
		<div class="mainDiv">
			<a href="{{path("mainpage")}}">
				<button class="button-48" role="button">
					<span class="text">Go back to list</span>
				</button>
			</a>
			<br>
		</body>
	</body>
</html>
<div class="showInfoDiv {% if pokemon.type %}{{ pokemon.type.0 }}{% endif %}">
	<img src="{{ pokemon.sprite }}" alt="Pokemon Sprite">
	<h2>Pokedex Number:
		{{ pokemon.id }}</h2>
	<h2>Species:
		{{ pokemon.name|capitalize }}</h2>
</div>

<div class="showInfoDiv {% for type in pokemon.type %}{{ type }} {% endfor %}">
	<div>Type:
		<ul>
			{% for type in pokemon.type %}
				<li class="type {{ type }}">{{ type|capitalize }}</li>
			{% endfor %}
		</ul>
	</div>
	<div>Ability:
		<ul>
			{% for ability in pokemon.abilities %}
				<li class="ability">{{ ability|capitalize }}</li>
			{% endfor %}
		</ul>
	</div>
	<div>Posible Moveset:
		<ul>
			{% for move in selectedMoves %}
				<li class="type">{{ move|capitalize }}</li>
			{% endfor %}
		</ul>
	</div>
</div></div></body></html></div>{% endblock %}
